# Environnement virtuel
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Base de données (générée)
data/*.db

# Build PyInstaller
build/
dist/
*.spec

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db